body{
  font-family: 'Times New Roman', Times, serif;
  background-image: url(images/bg2.jpg);
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  /* position: -webkit-sticky; */
  position: sticky;
  top: 0;
  width: 100%;
}

li {
  float: left;
  padding: 10px 20px;
  display: flex;
  flex-wrap: wrap;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #c0481c;
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  /* width: 50%; */
  padding: 20px;
  text-align: center;
  margin: 50px;
}



/* FORM STYLING BEGINS */
#birthday-form {
  display: block;
  flex-direction: column;
}

#birthday-form label {
  margin-top: 10px;
  color: #2196f3;
  /* Blue color */
}

#birthday-form input,
#birthday-form textarea {
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

#birthday-form textarea {
  resize: vertical;
  height: 100px;
}

#submit-button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
}


#submit-button:hover {
  background-color: #45a049;
}

/* FORM STYLING ENDS */


.container {
  background-color: dimgrey;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 350px;
  margin: 50px auto;
}

h2 {
  text-align: center;
  color: #ded3d0;
  /* Orange color */
}

.cta-button {
background-color: #ff5722;
color: white;
border: none;
padding: 15px 30px;
font-size: 1em;
border-radius: 25px;
/* Rounded corners for the button */
cursor: pointer;
text-decoration: none;
}

.cta-button:hover {
background-color: #e64a19;
}

.Scroll-To-Top{
background-color: #ff5722;
color: white;
border: none;
position: fixed;
bottom: 70px;
right: 20px;
padding: 20px 8px;
/* font-size: 1em; */
/* border-radius: 25px; */
width: 60px;              
height: 60px;             
border-radius: 50%;       
cursor: pointer;
cursor: pointer;
text-decoration: none;
text-align: center;
}



.footer {
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-family: 'Times New Roman', Times, serif;
}

